.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d40;
  padding: 15px;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
